#about
  +flex-col
  justify-content: center
  align-items: center
  text-align: center
  +section-mobile-margin
  padding: $gutterWidth

  .profile-pic
    width: 250px
    height: 250px
    border-radius: 50%

  .development,
  .design
    margin: $gutterWidth 0

  .grid
    margin-top: $gutterWidth
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: $gutterWidth

    img
      width: 45px

    .tool-name
      opacity: 0.5