#about
  +flex-col
  justify-content: center
  align-items: center
  text-align: center
  // +section-mobile-margin
  padding: $gutterWidth
  background: $secondary
  color: $primary
  transform: translateY(-2px)

  .profile-pic
    width: 250px
    height: 250px
    border-radius: 50%

  .personal-desc
    +line-height-1rem-text

  .development,
  .design
    margin: $gutterWidth 0

  .grid
    margin-top: $gutterWidth
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .tool
      flex: 1 1 33%

      .tool-logo
        width: 45px

      .tool-name
        opacity: 0.5
        margin-top: 0

  .btn
    border: none
    background: transparent
    border: 1px solid $primary
    border-radius: 50px
    width: 180px
    height: 40px
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    +transition

    &:hover
      background: $primary

      a
        color: $secondary

    a
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      text-decoration: none
      color: $primary
      font-weight: 700
      letter-spacing: 1.3px
      +transition


// Icon animation
@keyframes move-up-down
  0%, 100%
    transform: none
  50%
    transform: translateY(13px)

@media screen and (min-width: 550px)
  .tool
    flex: 1 1 25% !important

@media screen and (min-width: 600px)
  .tools-list
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: $gutterWidth

@media screen and (min-width: 1024px)
  #about
    +section-lg-padding

    .info
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
      margin: $gutterWidth 0

      .profile-pic
        flex: 1 1 40%

      .personal-desc
        flex: 1 1 60%