#contact
  background: $primaryColor
  padding: 3rem $gutterWidth
  color: $secondaryColor

  .form
    display: flex
    flex-direction: column

    label
      padding: 20px 0 5px 0
      font-weight: 700
      letter-spacing: 1.2px
      text-transform: uppercase
      font-size: 1rem

    input,
    textarea
      padding: 7px 3px
      letter-spacing: 1px
      &::placeholder
        opacity: 0.7

    .submit-btn
      width: 220px
      height: 40px
      background: $accentColor
      cursor: pointer
      border: 1px solid $accentColor
      text-transform: uppercase
      border-radius: 5px
      color: $secondaryColor
      margin: 1.25rem auto 1rem auto
      +transition
      &:hover
        background: darken($accentColor, 10)
        transform: translateY(-2px)


@media screen and (min-width: 48rem)
  .form
    width: 80vw !important
    margin: 0 auto
