.hamburger-menu
  width: 2rem
  cursor: pointer
  display: inline-block
  +transition
  z-index: 999

  .bar
    background: $primary
    width: 100%
    height: 3px
    margin: 6px 0
    border-radius: 50px
    +transition
    &:first-child
      width: 70%
    &:last-child
      width: 70%
      margin-left: auto

.animated
  .bar
    &:first-child
      transform: translateY(9px)
    &:nth-child(2)
      opacity: 0
    &:last-child
      transform: translateY(-9px)