.main-header
  background: $primaryColor
  height: 100vh

  .header-text
    color: $secondaryColor
    text-align: center
    display: flex
    flex-direction: column
    height: 100%
    padding: 1.5rem $gutterWidth

    .main-title
      font-size: 2.3rem
      letter-spacing: 1.5px
      text-transform: uppercase
      line-height: 3rem
      margin-top: 10vh

      .intro
        font-size: 1.2rem
        line-height: 1.7rem
        letter-spacing: 1.5px
