.header
  height: 667px
  width: 100vw
  background: 
    image: url('../../img/header-bg.svg')
    position: center center
    repeat: no-repeat
    size: cover

  .header-text-container
    +flex-col
    justify-content: center
    align-items: center
    height: 70%

  .header-text
    text-align: center
    color: $secondary
    +flex-col
    justify-content: center
    align-items: center

    .main-title
      text-transform: uppercase
      font-size: 2rem
      line-height: 2.5rem

    .subtitle
      font-size: 1rem

@media screen and (min-width: 736px)
  .header
    height: 1112px
    background: 
      image: url('../../img/header-md-bg.svg')

    .header-text-container
      align-items: flex-start

    .header-text
      text-align: left
      justify-content: flex-start
      align-items: flex-start
      // margin-left: 100px

      .main-title
        font-size: 2.5rem
        line-height: 3rem

      .subtitle
        font-size: 1.25rem

@media screen and (min-width: 1024px)
  .header
    height: 800px
    background:
      image: url('../../img/header-lg-bg.svg')