.navbar
  background: trasparent
  padding: 1.5rem $gutterWidth

.nav-flex
  display: flex
  align-items: center

  .nav-link
    text-decoration: none
    color: $secondaryColor
    padding: 10px 15px
    margin: 0 15px
    border-radius: 25px
    letter-spacing: 1.3px
    border: 1px solid $secondaryColor
    +transition
    font-size: 1.25rem
    &:hover
      background: $secondaryColor
      color: $primaryColor


.nav-mobile
  width: 100%
  background: $tertiaryColor
  height: 100vh
  display: none
  transform: translateX(-200%)
  flex-direction: column
  align-items: center
  z-index: 999
  +transition

  .nav-link
    text-decoration: none
    color: $primaryColor
    width: 100%
    text-align: center
    padding: 1rem 0
    font-weight: 700
    letter-spacing: 1.3px
    font-size: 1.25rem
    border-bottom: 1px solid $primaryColor
    +transition
    &:hover
      background: $primaryColor
      color: $tertiaryColor
    &:first-of-type
      margin-top: 10vh

  .wrapper
    display: flex
    margin-top: 5rem

.show-menu-mobile
  transform: translateX(0)
  display: flex !important
