.navbar
  background: trasparent
  padding: $gutterWidth

.nav-flex
  display: flex
  align-items: center

.brand-logo
  margin-right: auto
  width: 50px

  picture,
  img
    width: 100%

.nav-mobile
  height: 100vh
  position: absolute
  opacity: 0
  +flex-col
  align-items: center
  z-index: 666
  +transition