@import './_projectCard' 

#portfolio
  // +section-mobile-margin
  background: #f5f5f7
  padding: $gutterWidth
  .container
    padding: $gutterWidth
    display: grid
    grid-template-columns: 1fr
    grid-gap: $gutterWidth

@media screen and (min-width: 768px)
  #portfolio
    .container
      grid-template-columns: repeat(2, 1fr)

@media screen and (min-width: 1300px)
  #portfolio
    .container
      grid-template-columns: repeat(3, 1fr)

