.project-card
  background: $tertiaryColor
  border-radius: 5px
  box-shadow: 0 5px 10px 0 rgba(33, 33, 33, 0.7)

  .project-image
    width: 100%
    border-top-left-radius: 5px
    border-top-right-radius: 5px

  .project-text
    padding: 0 1.25rem 1.25rem 1.25rem
    color: $primaryColor

    .project-title
      font-size: 1.25rem
      letter-spacing: 1.2px
      line-height: 1.5rem

    .project-description
      font-size: 1rem
      letter-spacing: 1px
      opacity: 0.7
      line-height: 1.25rem

    .project-link
      text-decoration: none
      font-size: 1.05rem
      letter-spacing: 1px
      color: $primaryColor
      display: flex
      align-items: center

      .fa-arrow-right
        padding-left: 10px
