// Colors
$primary: #fff
$secondary: #000
$tertiary: #dadad9
$accent: #0abaee
$twitter: #1da1f2
$linkedin: #0077b5
$github: #181717
$error: #d50000

// Layout
$gutterWidth: 2rem

// Typography
$typeface: 'IBM Plex Mono', monospace 